<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Make the longest word</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Try it out</h1>
<form action="#" th:action="@{/result}" th:object="${entry}" method="post">
    <p>User: <input type="text" th:field="*{user}" /></p>
    <p>Word: <input type="text" th:field="*{word}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    <p th:text="${error}" />
</form>
</body>
</html>